$base-color:          #2e3436;
$base-color-light:    lighten($base-color, 10%);
$base-color-dark:     darken($base-color, 5%);

$text-color:          #eceeef;

$accent-color-light:  #c7f464;
$accent-color-dark:   #84a242;


html {
  //font-size: 16px;

  @media (min-width: 768px) {
    font-size: 17px;
  }
  @media (min-width: 992px) {
    font-size: 18px;
  }
}

body {
  background: $base-color url(/img/noise.png);
  background-repeat: repeat;
  color: $text-color;
  padding-top: 2.5rem;
  position: relative;
  scroll-behavior: smooth;
}

a,
a:hover,
a:focus {
  color: #fff;
  font-weight: bold;
}

h3::before {
  background: linear-gradient(to top, $accent-color-dark, $accent-color-light);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  content: "\f111"; //fa-circle
  font-family: FontAwesome;
  font-size: 1.333rem;
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: .666rem;
  text-rendering: auto;
  vertical-align: 3px;
}

h5 {
  padding-left: 1.9rem;
  text-indent: -1.9rem;
}
h5::before {
  background: linear-gradient(to top, $accent-color-dark, $accent-color-light);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  content: "\f10c"; //fa-circle-o
  font-family: FontAwesome;
  font-size: 1rem;
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-left: 3px;
  padding-right: .85rem;
  text-rendering: auto;
  vertical-align: 1px;
}

img {
  position: relative;
  z-index: -1;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.card {
  background: $base-color-light;
  border: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.display-4 {
  line-height: 1;
}

.gradient {
  background: linear-gradient(to right, rgba(0,0,0,.6), transparent 25%, transparent 75%, rgba(0,0,0,.6));
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.icon {
  background: linear-gradient(to top, $accent-color-dark, $accent-color-light);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.logo {
  width: auto;
  max-height: 120px;
  padding: 1rem;
  z-index: 1;
}

.name {
  font-size: 4rem;
  text-transform: uppercase;
}
.name span {
  font-size: 5rem;
}

.navbar {
  background: $base-color-dark;
  border: 1px solid $accent-color-dark;
  padding-top: 0;
  padding-bottom: 0;
}

.nav-item {
  padding-left: .5rem;
  padding-right: .5rem;
}

.nav-link,
.nav-link:hover,
.nav-link:focus {
  color: darken($text-color, 30%);
  font-weight: 100;
  outline: none;
  padding-top: 0;
  padding-bottom: 0;
}
.nav-link.active {
  color: $text-color;
}
