---
title: Skills
width: fixed
---

{% assign datafiles = site.data.private | sort %}

{% for category_hash in datafiles %}
  {% assign category = category_hash[1] %}

  <h5>{{ category.heading }}:
  <small>({{ category.subheading }})</small></h5>

  <div class="card-text [ d-flex justify-content-around align-items-end flex-wrap ] text-center pb-3">

    {% for entry in category.entries %}

      <div class="p-3">
        <a href="{{ entry.href }}">
          <img class="logo" src="img/{{ entry.img }}" alt="{{ entry.title }} Logo" />
          <br />
          {{ entry.title }}
        </a>
      </div>

    {% endfor %}

  </div><!-- /d-flex -->

{% endfor %}
