---
layout: bigblue
description:
lang: en-US
robots: noindex, nofollow
---

{% assign datafiles = site.data.business | sort %}

{% for category_hash in datafiles %}
  {% assign category = category_hash[1] %}

  <section class="[ card card-block ] mb-5">

    <h2 id="{{ category.heading | slugify }}" class="card-title">{{ category.heading }}</h2>

    <dl class="card-text ml-3">

      {% for entry in category.entries %}

        <dt>
          <a href="{{ entry.href }}">{{ entry.title }}</a>

          {% if entry.sub %}
          <small>({% if entry.sub.prefix %}{{ entry.sub.prefix }} {% endif %}<a href="{{ entry.sub.href }}">{{ entry.sub.title }}</a>)</small>
          {% endif %}
        </dt>

      {% endfor %}

    </dl>

  </section><!-- /card -->

{% endfor %}
