---
layout: default
description: "Personal Homepage of Achim Christ - Digital Jet Jockey: About, Experience, Skills, Contact"
lang: en-US
---

<div class="row justify-content-center align-items-center">

{% for section in site.sections %}

  {% capture colclass %}
    {% case section.width %}
      {% when 'fixed' %}
        {{ site.width_fixed_col }}
      {% when 'full' %}
        {{ site.width_full_col }}
      {% when 'half' %}
        {{ site.width_half_col }}
    {% endcase %}
  {% endcapture %}

  <!-- section column -->
  <div class="{{ colclass | strip }}" id="{{ section.title | slugify }}">

    <!-- section card -->
    {% if section.title != '_' %}
    <section class="card card-block">

      <!-- section title -->
      <h3 class="card-title">{{ section.title }}</h3>
      {% endif %}

      {{ section.content }}

    {% if section.title != '_' %}
    </section><!-- /card -->
    {% endif %}

  </div><!-- /col -->

{% endfor %}

</div><!-- /row -->
