---
layout: default
title: Achim's Homepage
description:
lang: en-US
---

{% for section in site.sections %}

  {% capture rowclass %}
    {% case section.width %}
      {% when 'fixed' %}
        {{ site.width_fixed_row }}
      {% when 'full' %}
        {{ site.width_full_row }}
    {% endcase %}
  {% endcapture %}

  {% capture colclass %}
    {% case section.width %}
      {% when 'fixed' %}
        {{ site.width_fixed_col }}
      {% when 'full' %}
        {{ site.width_full_col }}
    {% endcase %}
  {% endcapture %}

  <div class="row {{ rowclass | strip }}">
    <div class="{{ colclass | strip }}">

      {% if section.width != 'full' %}
      <div class="card card-block">
      {% endif %}

        {% if section.title != '_' %}
        <h3 class="card-title">{{ section.title }}</h3>
        {% endif %}

        {{ section.content }}

      {% if section.width != 'full' %}
      </div><!-- /card -->
      {% endif %}

    </div><!-- /col -->
  </div><!-- /row -->

  <div class="row">
    <div class="col">&nbsp;</div>
  </div>

{% endfor %}
