<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <link rel="dns-prefetch" href="//cdn.jsdelivr.net" />
  <link rel="dns-prefetch" href="//code.jquery.com" />

  <title>{{ page.title | default: site.title | escape }}</title>
  <meta name="description" content="{{ page.description | default: site.description | truncate: 160 | escape }}">
  <meta name="author" content="{{ page.author | default: site.author }}">
  <link rel="canonical" href="{{ site.canonical }}{{ page.url | replace: 'index.html', '' | relative_url }}">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="robots" content="{{ page.robots | default: 'index, follow' }}">

  {% include stylesheets.html %}

  {% if include.style %}
  <!-- Custom inline CSS -->
  <style type="text/css">
    {% capture style %}
      {% include {{ include.style }} %}
    {% endcapture %}
    {{ style | scssify }}
  </style>
  {% endif %}

</head>
