<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="{{ page.author | default: site.author }}">
  <meta name="robots" content="{{ page.robots | default: 'index, follow' }}">

  <title>{{ page.title | default: site.title | escape }}</title>
  <meta name="description" content="{{ page.description | default: site.description | truncate: 160 | escape }}">
  <link rel="canonical" href="{{ page.url | replace: 'index.html', '' | absolute_url }}">

  {% include bs_head.html %}

  {% if include.style %}
    <!-- Custom inline CSS -->
    <style type="text/css">
      {% capture style %}
        {% include {{ include.style }} %}
      {% endcapture %}
      {{ style | scssify }}
    </style>
  {% endif %}

</head>
