{% assign src = include.src | split: "." %}

<img
  {% if include.size == 'hero' %}
  srcset="{{ src[0] }}-510.{{ src[1] }} 510w, {{ src[0] }}-690.{{ src[1] }} 690w, {{ src[0] }}-930.{{ src[1] }} 930w, {{ src[0] }}-1110.{{ src[1] }} 1110w"
  sizes="(min-width: 1200px) 1110px, (min-width: 992px) 930px, (min-width: 768px) 690px, (min-width: 576px) 510px, 100vw"
  src="{{ src[0] }}-1110.{{ src[1] }}"
  {% else %}
  srcset="{{ src[0] }}-270.{{ src[1] }} 270w, {{ src[0] }}-370.{{ src[1] }} 370w, {{ src[0] }}-445.{{ src[1] }} 445w, {{ src[0] }}-510.{{ src[1] }} 510w"
  sizes="(min-width: 1200px) 445px, (min-width: 992px) 370px, (min-width: 768px) 270px, (min-width: 576px) 510px, 100vw"
  src="{{ src[0] }}-510.{{ src[1] }}"
  {% endif %}

  class="img-fluid{% if include.class %} {{ include.class }}{% endif %}"
  {% if include.alt %}alt="{{ include.alt }}"{% endif %} />
