<div class="fixed-top [ d-flex justify-content-center ]">
  <div class="navbar rounded-bottom border-top-0" id="navbar">

    <ul class="nav">

      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
      </li>

      {% for section in site.sections %}

        {% if section.title != '_' %}
        <li class="nav-item">
          <a class="nav-link" href="#{{ section.title | slugify }}">{{ section.title }}</a>
        </li>
        {% endif %}

      {% endfor %}

    </ul><!-- /nav -->

  </div><!-- /navbar -->
</div><!-- d-flex -->
