$base-color:        #2e3436;
$base-color-light:  lighten($base-color, 10%);
$base-color-dark:   darken($base-color, 10%);

html {
  //font-size: 16px;

  @media (min-width: 768px) {
    font-size: 17px;
  }
  @media (min-width: 992px) {
    font-size: 18px;
  }
}

body {
  background: $base-color url(/img/noise.png);
  background-repeat: repeat;
  color: #eceeef;
  padding-top: 1rem;
}

.nav-link,
.nav-link:hover,
.nav-link:focus {
  color: darken(#eceeef, 30%);
  font-weight: 100;
  padding-top: 0;
  padding-bottom: 0;
}

a,
a:hover,
a:focus {
  color: #fff;
  font-weight: bold;
}

.card {
  background: $base-color-light;
  border: none;
}

.card-title::before {
  content: "\f111"; //fa-circle
  display: inline-block;
  font-family: FontAwesome;
  font-size: 1.333rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: .666rem;
  text-rendering: auto;
  vertical-align: 3px;
}

.name {
  font-size: 4rem;
  text-transform: uppercase;
}
.name span {
  font-size: 5rem;
}
