$base-color:        #2e3436;
$base-color-light:  lighten($base-color, 10%);
$base-color-dark:   darken($base-color, 10%);

body {
  background: $base-color url(/img/noise.png);
  background-repeat: repeat;

  color: #eceeef;
}

a,
a:hover,
a:focus {
  color: #fff;
  font-weight: bold;
}

.card {
  background: $base-color-light;
  border: none;
}

.name {
  font-size: 4.5rem;
  text-transform: uppercase;
}
.name span {
  font-size: 5.5rem;
}
