<nav role="navigation" class="container-fluid ribbon lead text-white" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
  <div class="container">

    <div class="d-flex [ flex-column flex-sm-row flex-lg-column ] align-items-sm-center justify-content-sm-around">
      <div class="d-flex [ flex-column flex-lg-row ] justify-content-lg-center">

        <div>
          <i class="fa fa-phone" aria-hidden="true"></i>
          +49 7034 643 1288
        </div>
        <div class="hidden-md-down"> </div>
        <div>
          <i class="fa fa-envelope" aria-hidden="true"></i>
          achim.christ[at]de.ibm.com
        </div>
        <div class="hidden-md-down"> </div>
        <div>
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          Achim&nbsp;Christ/Germany/IBM
        </div>

      </div>
      <div class="d-flex [ flex-column flex-lg-row ] justify-content-lg-center">

        <div>
          <i class="fa fa-users" aria-hidden="true"></i>
          <a href="https://w3.ibm.com/newbp/profile.html?uid=138934724">BluePages</a>
        </div>
        <div class="hidden-md-down"> </div>
        <div>
          <img src="{{ "/img/connections.png" | relative_url }}" alt="Connections" width="22" height="20" aria-hidden="true" />
          <a href="https://w3-connections.ibm.com/profiles/html/profileView.do?email=achim.christ@de.ibm.com">Connections</a>
        </div>
        <div class="hidden-md-down"> </div>
        <div>
          <img src="{{ "/img/dw.png" | relative_url }}" alt="developerWorks" width="37" height="18" style="vertical-align: -1px" aria-hidden="true" />
          <a href="https://www.ibm.com/developerworks/community/profiles/html/profileView.do?key=97b31b5d-7415-4177-af5f-93aa5f757fea">developerWorks</a>
        </div>
        <div class="hidden-md-down"> </div>
        <div>
          <i class="fa fa-slack" aria-hidden="true"></i>
          <a href="https://ibm-systems-storage.slack.com/team/achim">Slack</a>
        </div>

      </div>
    </div><!-- /d-flex -->

  </div><!-- /container -->
</nav><!-- /container-fluid -->
