<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en-US' }}">

  {% include head.html style='business/style.scss' %}

  <body>

    <header class="container-fluid"> </header>

    {% include business/banner.html %}

    {% include business/ribbon.html %}

    <div class="container">
      <div class="lead mb-5">

        {% capture about %}
          {% include business/about.md %}
        {% endcapture %}
        {{ about | markdownify }}

      </div><!-- /lead -->
    </div><!-- /container -->

    <div class="container">

      {{ content }}

    </div><!-- /container -->

    <footer class="container-fluid mt-5"> </footer>

    {% include scripts.html %}

  </body>

</html>
